<div class="page-header">
    <h3>Edit</h3>
</div>

<form class="form-horizontal">
    <input type="hidden" id="projectId" ng-value="project.id" />
    <div class="form-group">
        <label class="control-label col-sm-2" for="name">Name</label>
        <div class="col-sm-10">
            <input type="text" ng-model="project.name" id="name" class="form-control" rows="10" value="{{project.name}}" />
        </div>
        <label class="control-label col-sm-2" for="userIds">Users</label>
        <div class="col-sm-10">
            <input type="text" ng-model="project.userIds" id="userIds" class="form-control" rows="10"  />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-primary" ng-click="save()"><span class="glyphicon glyphicon-ok"></span> Save</button>
        </div>
    </div>
</form>

<script src="js/editProject.js"></script>